/****** Object:  Table [dbo].[CT_ORG_D]    Script Date: 08-04-2024 11:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_ORG_D](
	[ORG_KEY] [numeric](10, 0) NULL,
	[ORG_NAME] [nvarchar](240) NULL,
	[ORG_UNIT_CLASSIFICATION_ID] [nvarchar](25) NULL,
	[ORG_NUM] [numeric](15, 0) NULL,
	[ORG_DESC] [nvarchar](240) NULL,
	[CLASSIFICATION_CODE] [nvarchar](25) NULL,
	[CLASSIFICATION_NAME] [nvarchar](50) NULL,
	[ST_ADDRESS1] [nvarchar](240) NULL,
	[ST_ADDRESS2] [nvarchar](240) NULL,
	[CITY] [nvarchar](30) NULL,
	[COUNTY] [nvarchar](40) NULL,
	[POSTAL_CODE] [nvarchar](30) NULL,
	[STATE_CODE] [nvarchar](120) NULL,
	[STATE_NAME] [nvarchar](80) NULL,
	[STATE_REGION] [nvarchar](120) NULL,
	[COUNTRY_CODE] [nvarchar](60) NULL,
	[COUNTRY_NAME] [nvarchar](80) NULL,
	[COUNTRY_REGION] [nvarchar](40) NULL,
	[WEB_ADDRESS] [nvarchar](40) NULL,
	[PHONE_NUM] [nvarchar](60) NULL,
	[EMAIL_ADDRESS] [nvarchar](100) NULL,
	[DIVN_FLAG] [nvarchar](100) NULL,
	[BU_FLAG] [nvarchar](15) NULL,
	[OPERATING_UNIT_FLAG] [nvarchar](15) NULL,
	[INV_ORG_FLAG] [nvarchar](15) NULL,
	[HR_ORG_FLAG] [nvarchar](15) NULL,
	[PROJECT_ORG_FLAG] [nvarchar](15) NULL,
	[LEGAL_ENTITY] [nvarchar](40) NULL,
	[STATUS] [nvarchar](20) NULL,
	[COST_CENTER_CODE] [nvarchar](20) NULL,
	[EFFECTIVE_START_DT] [datetime2](7) NULL,
	[EFFECTIVE_END_DT] [datetime2](7) NULL,
	[CURRENT_FLAG] [nvarchar](20) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[CREATION_DT] [datetime2](7) NULL,
	[LAST_UPDATE_DT] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[LAST_UPDATED_BY] [nvarchar](100) NULL,
	[INTEGRATION_ID] [nvarchar](191) NULL,
	[DATASOURCE_NUM_ID] [numeric](18, 0) NULL,
	[ACTIVE_FLAG] [nvarchar](1) NULL,
	[DELETE_FLAG] [nvarchar](1) NULL,
	[W_INSERT_DT] [datetime2](7) NULL,
	[W_UPDATE_DT] [datetime2](7) NULL,
	[LEVEL01_ORG_NAME] [nvarchar](100) NULL,
	[LEVEL02_ORG_NAME] [nvarchar](100) NULL,
	[LEVEL03_ORG_NAME] [nvarchar](100) NULL,
	[HI_LAST_UPDATE_DATE] [datetime2](7) NULL,
	[HI_CREATION_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_ORG_D] ADD  DEFAULT (NEXT VALUE FOR [dbo].[CT_ORG_D_SEQ]) FOR [ORG_KEY]
GO
